.member-container {
  padding-top: 50px;
}
.member {
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  padding: 40px 30px;
  background: #fefefe;
  height: 600px;
  border: 1px solid rgba(9, 9, 9, 0.2);
  border-radius: 25px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  justify-content: center;
  text-align: center;
}
form {
  background-color: #fcfdff;
  width: 100%;
  border-radius: 16px;
  max-width: 480px;
  height: auto;
  overflow: hidden;
  color: rgb(0, 0, 0);
  margin: 50px auto;
  padding: 20px;
}
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 25px;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 8px;
  margin-bottom: 30px;
}
.login-error {
  color: rgb(255, 0, 0);
  font-size: 0.8em;
  margin-top: 4px;
  display: block;
}

button {
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.Submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px 12px;
  background-color: rgb(252, 248, 248);
  border: 2px solid rgb(136, 132, 132);
  border-radius: 8px;
}

.login-error {
  color: rgb(255, 0, 0);
  font-size: 0.8 em;
  margin-top: 4px;
  display: block;
}
.registration {
  padding-top: 20px;
  text-align: center;
}
